In [44]:
import pandas as pd 
pd.set_option('display.max_rows', None)
oo = pd.read_csv('../../datasets/PandasEssentialTraining/olympics.csv', skiprows= 4)
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

# In which events did Jesse Owens win a medal?

In [22]:
#evaluate where the Athlete name contains owens, then Using Boolean indexing get a new data frame to get data
#from owens
owen_series = oo.Athlete.str.contains('owens', case=False)
owen_dataframe = oo[owen_series]
owen_dataframe

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
6439,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,200m,M,Gold
6456,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,4x100m relay,M,Gold
6523,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,long jump,M,Gold

In [26]:
#we can cleary see the data frame, but we just want the event column. We can use value_counts 
owen_events = owen_dataframe.Event.value_counts()
owen_events

4x100m relay    1
200m            1
long jump       1
100m            1
Name: Event, dtype: int64

# Which country has won the most men's gold medals in badminton over the years?(Sort the results alphabetically by the player's name)

In [35]:
#Lets obtain the indices that evalutes true for: sport== 'badminton', Medal=='Gold', Gender='Men'
boolean_indexes = (oo.Sport.str.contains('badminton', case=False)) & (oo.Medal.str.contains('Gold', case=False))&(boolean_indexes)
response_dataframe = (oo[boolean_indexes])
response_dataframe

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20031,Barcelona,1992,Badminton,Badminton,"KIM, Moon-Soo",KOR,Men,doubles,M,Gold
20032,Barcelona,1992,Badminton,Badminton,"PARK, Joo-Bong",KOR,Men,doubles,M,Gold
20039,Barcelona,1992,Badminton,Badminton,"CHUNG, So-Young",KOR,Women,doubles,W,Gold
20040,Barcelona,1992,Badminton,Badminton,"HWANG, Hae-Young",KOR,Women,doubles,W,Gold
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
20049,Barcelona,1992,Badminton,Badminton,"SUSANTI, Susi",INA,Women,singles,W,Gold
21771,Atlanta,1996,Badminton,Badminton,"MAINAKY, Rexy Ronald",INA,Men,doubles,M,Gold
21772,Atlanta,1996,Badminton,Badminton,"SUBAGJA, Ricky Achmad",INA,Men,doubles,M,Gold
21773,Atlanta,1996,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,X,Gold
21780,Atlanta,1996,Badminton,Badminton,"GE, Fei",CHN,Women,doubles,W,Gold
21781,Atlanta,1996,Badminton,Badminton,"GU, Jun",CHN,Women,doubles,W,Gold
21782,Atlanta,1996,Badminton,Badminton,"GIL, Young-Ah",KOR,Women,doubles,X,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
21790,Atlanta,1996,Badminton,Badminton,"BANG, Soo-Hyun",KOR,Women,singles,W,Gold
23701,Sydney,2000,Badminton,Badminton,"GUNAWAN, Tony",INA,Men,doubles,M,Gold
23702,Sydney,2000,Badminton,Badminton,"WIJAYA, Candra",INA,Men,doubles,M,Gold
23703,Sydney,2000,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold
23710,Sydney,2000,Badminton,Badminton,"GE, Fei",CHN,Women,doubles,W,Gold
23711,Sydney,2000,Badminton,Badminton,"GU, Jun",CHN,Women,doubles,W,Gold
23712,Sydney,2000,Badminton,Badminton,"GAO, Ling",CHN,Women,doubles,X,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
23720,Sydney,2000,Badminton,Badminton,"GONG, Zhichao",CHN,Women,singles,W,Gold
25718,Athens,2004,Badminton,Badminton,"HA, Tae-Kwon",KOR,Men,doubles,M,Gold
25719,Athens,2004,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,M,Gold
25720,Athens,2004,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold
25727,Athens,2004,Badminton,Badminton,"YANG, Wei",CHN,Women,doubles,W,Gold
25728,Athens,2004,Badminton,Badminton,"ZHANG, Jiewen",CHN,Women,doubles,W,Gold
25729,Athens,2004,Badminton,Badminton,"GAO, Ling",CHN,Women,doubles,X,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
25737,Athens,2004,Badminton,Badminton,"ZHANG, Ning",CHN,Women,singles,W,Gold
27725,Beijing,2008,Badminton,Badminton,"KIDO, Markis",INA,Men,doubles,M,Gold
27726,Beijing,2008,Badminton,Badminton,"SETIAWAN, Hendra",INA,Men,doubles,M,Gold
27727,Beijing,2008,Badminton,Badminton,"LEE, Yongdae",KOR,Men,doubles,X,Gold
27734,Beijing,2008,Badminton,Badminton,"DU, Jing",CHN,Women,doubles,W,Gold
27735,Beijing,2008,Badminton,Badminton,"YU, Yang",CHN,Women,doubles,W,Gold
27736,Beijing,2008,Badminton,Badminton,"LEE, Hyojung",KOR,Women,doubles,X,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold
27744,Beijing,2008,Badminton,Badminton,"ZHANG, Ning",CHN,Women,singles,W,Gold

In [36]:
#lets sort this dataframe by Athlete's name
sorted_response_dataframe = response_dataframe.sort_values(by=['Athlete'])
sorted_response_dataframe

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
21790,Atlanta,1996,Badminton,Badminton,"BANG, Soo-Hyun",KOR,Women,singles,W,Gold
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
20039,Barcelona,1992,Badminton,Badminton,"CHUNG, So-Young",KOR,Women,doubles,W,Gold
27734,Beijing,2008,Badminton,Badminton,"DU, Jing",CHN,Women,doubles,W,Gold
25729,Athens,2004,Badminton,Badminton,"GAO, Ling",CHN,Women,doubles,X,Gold
23712,Sydney,2000,Badminton,Badminton,"GAO, Ling",CHN,Women,doubles,X,Gold
23710,Sydney,2000,Badminton,Badminton,"GE, Fei",CHN,Women,doubles,W,Gold
21780,Atlanta,1996,Badminton,Badminton,"GE, Fei",CHN,Women,doubles,W,Gold
21782,Atlanta,1996,Badminton,Badminton,"GIL, Young-Ah",KOR,Women,doubles,X,Gold
23720,Sydney,2000,Badminton,Badminton,"GONG, Zhichao",CHN,Women,singles,W,Gold
23711,Sydney,2000,Badminton,Badminton,"GU, Jun",CHN,Women,doubles,W,Gold
21781,Atlanta,1996,Badminton,Badminton,"GU, Jun",CHN,Women,doubles,W,Gold
23701,Sydney,2000,Badminton,Badminton,"GUNAWAN, Tony",INA,Men,doubles,M,Gold
25718,Athens,2004,Badminton,Badminton,"HA, Tae-Kwon",KOR,Men,doubles,M,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
20040,Barcelona,1992,Badminton,Badminton,"HWANG, Hae-Young",KOR,Women,doubles,W,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
27725,Beijing,2008,Badminton,Badminton,"KIDO, Markis",INA,Men,doubles,M,Gold
25719,Athens,2004,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,M,Gold
21773,Atlanta,1996,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,X,Gold
20031,Barcelona,1992,Badminton,Badminton,"KIM, Moon-Soo",KOR,Men,doubles,M,Gold
27736,Beijing,2008,Badminton,Badminton,"LEE, Hyojung",KOR,Women,doubles,X,Gold
27727,Beijing,2008,Badminton,Badminton,"LEE, Yongdae",KOR,Men,doubles,X,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold
21771,Atlanta,1996,Badminton,Badminton,"MAINAKY, Rexy Ronald",INA,Men,doubles,M,Gold
20032,Barcelona,1992,Badminton,Badminton,"PARK, Joo-Bong",KOR,Men,doubles,M,Gold
27726,Beijing,2008,Badminton,Badminton,"SETIAWAN, Hendra",INA,Men,doubles,M,Gold
21772,Atlanta,1996,Badminton,Badminton,"SUBAGJA, Ricky Achmad",INA,Men,doubles,M,Gold
20049,Barcelona,1992,Badminton,Badminton,"SUSANTI, Susi",INA,Women,singles,W,Gold
23702,Sydney,2000,Badminton,Badminton,"WIJAYA, Candra",INA,Men,doubles,M,Gold
25727,Athens,2004,Badminton,Badminton,"YANG, Wei",CHN,Women,doubles,W,Gold
27735,Beijing,2008,Badminton,Badminton,"YU, Yang",CHN,Women,doubles,W,Gold
25728,Athens,2004,Badminton,Badminton,"ZHANG, Jiewen",CHN,Women,doubles,W,Gold
23703,Sydney,2000,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold
25720,Athens,2004,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold
25737,Athens,2004,Badminton,Badminton,"ZHANG, Ning",CHN,Women,singles,W,Gold
27744,Beijing,2008,Badminton,Badminton,"ZHANG, Ning",CHN,Women,singles,W,Gold

In [37]:
#Finally let get the country with more Medals
response_dataframe_more_medals = sorted_response_dataframe.NOC.value_counts()
response_dataframe_more_medals

CHN    17
KOR    11
INA     9
DEN     1
Name: NOC, dtype: int64

# Which three countries have won the most medals in recent years(from 1984 to 2008)

In [39]:
#First get the indices by time
response_indices = (oo.Edition >= 1985)&(oo.Edition <=2008)
#then get a new data frame
recent_olympics_dataframe = oo[response_indices]
recent_olympics_dataframe

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
18051,Seoul,1988,Aquatics,Diving,"MENA CAMPOS, Jesus",MEX,Men,10m platform,M,Bronze
18052,Seoul,1988,Aquatics,Diving,"LOUGANIS, Gregory",USA,Men,10m platform,M,Gold
18053,Seoul,1988,Aquatics,Diving,"XIONG, Ni",CHN,Men,10m platform,M,Silver
18054,Seoul,1988,Aquatics,Diving,"WYLAND-WILLIAMS, Wendy Lian",USA,Women,10m platform,W,Bronze
18055,Seoul,1988,Aquatics,Diving,"XU, Yan-Mei",CHN,Women,10m platform,W,Gold
...,...,...,...,...,...,...,...,...,...,...
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [40]:
#now count countries
recent_olympics_dataframe.NOC.value_counts()

USA    1504
AUS     712
GER     691
RUS     638
CHN     603
       ...
KUW       1
BDI       1
PAN       1
AHO       1
MRI       1
Name: NOC, Length: 123, dtype: int64

In [41]:
#now to specify the top three
recent_olympics_dataframe.NOC.value_counts().head(3)

USA    1504
AUS     712
GER     691
Name: NOC, dtype: int64

# Display the male gold medal winners for the 100m Track & Field sprint event over the years.
# List the result starting with most recent. Show the olympic city, edition, athlete and country they represent.

In [46]:
GoldMedal_Men_100mEvent = oo[(oo.Gender == 'Men') & (oo.Event == '100m') & (oo.Medal == 'Gold')]
GoldMedal_Men_100mEvent

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
231,Paris,1900,Athletics,Athletics,"JARVIS, Francis",USA,Men,100m,M,Gold
737,St Louis,1904,Athletics,Athletics,"HAHN, Archie",USA,Men,100m,M,Gold
1191,London,1908,Athletics,Athletics,"WALKER, Reginald",RSA,Men,100m,M,Gold
2022,Stockholm,1912,Athletics,Athletics,"CRAIG, Ralph",USA,Men,100m,M,Gold
2996,Antwerp,1920,Athletics,Athletics,"PADDOCK, Charles",USA,Men,100m,M,Gold
4236,Paris,1924,Athletics,Athletics,"ABRAHAMS, Harold",GBR,Men,100m,M,Gold
5095,Amsterdam,1928,Athletics,Athletics,"WILLIAMS, Percy",CAN,Men,100m,M,Gold
5806,Los Angeles,1932,Athletics,Athletics,"TOLAN, Eddie",USA,Men,100m,M,Gold
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
7302,London,1948,Athletics,Athletics,"DILLARD, Harrison",USA,Men,100m,M,Gold
8121,Helsinki,1952,Athletics,Athletics,"REMIGINO, Lindy",USA,Men,100m,M,Gold
9009,Melbourne / Stockholm,1956,Athletics,Athletics,"MORROW, Robert Joseph",USA,Men,100m,M,Gold
9924,Rome,1960,Athletics,Athletics,"HARY, Armin",EUA,Men,100m,M,Gold
10823,Tokyo,1964,Athletics,Athletics,"HAYES, Robert",USA,Men,100m,M,Gold
11865,Mexico,1968,Athletics,Athletics,"HINES, James Ray",USA,Men,100m,M,Gold
12902,Munich,1972,Athletics,Athletics,"BORZOV, Valery",URS,Men,100m,M,Gold
14069,Montreal,1976,Athletics,Athletics,"CRAWFORD, Hasely",TRI,Men,100m,M,Gold
15374,Moscow,1980,Athletics,Athletics,"WELLS, Allan",GBR,Men,100m,M,Gold
16794,Los Angeles,1984,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
18284,Seoul,1988,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
19859,Barcelona,1992,Athletics,Athletics,"CHRISTIE, Linford",GBR,Men,100m,M,Gold
21598,Atlanta,1996,Athletics,Athletics,"BAILEY, Donovan",CAN,Men,100m,M,Gold
23521,Sydney,2000,Athletics,Athletics,"GREENE, Maurice",USA,Men,100m,M,Gold
25539,Athens,2004,Athletics,Athletics,"GATLIN, Justin",USA,Men,100m,M,Gold
27552,Beijing,2008,Athletics,Athletics,"BOLT, Usain",JAM,Men,100m,M,Gold

In [48]:
#Now we need to sort by the most recent
sorted_GoldMedal_Men_100mEvent = GoldMedal_Men_100mEvent.sort_values(by=['Edition'], ascending=False)
sorted_GoldMedal_Men_100mEvent

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
27552,Beijing,2008,Athletics,Athletics,"BOLT, Usain",JAM,Men,100m,M,Gold
25539,Athens,2004,Athletics,Athletics,"GATLIN, Justin",USA,Men,100m,M,Gold
23521,Sydney,2000,Athletics,Athletics,"GREENE, Maurice",USA,Men,100m,M,Gold
21598,Atlanta,1996,Athletics,Athletics,"BAILEY, Donovan",CAN,Men,100m,M,Gold
19859,Barcelona,1992,Athletics,Athletics,"CHRISTIE, Linford",GBR,Men,100m,M,Gold
18284,Seoul,1988,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
16794,Los Angeles,1984,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
15374,Moscow,1980,Athletics,Athletics,"WELLS, Allan",GBR,Men,100m,M,Gold
14069,Montreal,1976,Athletics,Athletics,"CRAWFORD, Hasely",TRI,Men,100m,M,Gold
12902,Munich,1972,Athletics,Athletics,"BORZOV, Valery",URS,Men,100m,M,Gold
11865,Mexico,1968,Athletics,Athletics,"HINES, James Ray",USA,Men,100m,M,Gold
10823,Tokyo,1964,Athletics,Athletics,"HAYES, Robert",USA,Men,100m,M,Gold
9924,Rome,1960,Athletics,Athletics,"HARY, Armin",EUA,Men,100m,M,Gold
9009,Melbourne / Stockholm,1956,Athletics,Athletics,"MORROW, Robert Joseph",USA,Men,100m,M,Gold
8121,Helsinki,1952,Athletics,Athletics,"REMIGINO, Lindy",USA,Men,100m,M,Gold
7302,London,1948,Athletics,Athletics,"DILLARD, Harrison",USA,Men,100m,M,Gold
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
5806,Los Angeles,1932,Athletics,Athletics,"TOLAN, Eddie",USA,Men,100m,M,Gold
5095,Amsterdam,1928,Athletics,Athletics,"WILLIAMS, Percy",CAN,Men,100m,M,Gold
4236,Paris,1924,Athletics,Athletics,"ABRAHAMS, Harold",GBR,Men,100m,M,Gold
2996,Antwerp,1920,Athletics,Athletics,"PADDOCK, Charles",USA,Men,100m,M,Gold
2022,Stockholm,1912,Athletics,Athletics,"CRAIG, Ralph",USA,Men,100m,M,Gold
1191,London,1908,Athletics,Athletics,"WALKER, Reginald",RSA,Men,100m,M,Gold
737,St Louis,1904,Athletics,Athletics,"HAHN, Archie",USA,Men,100m,M,Gold
231,Paris,1900,Athletics,Athletics,"JARVIS, Francis",USA,Men,100m,M,Gold
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold

In [54]:
#finally we need to create a data frame with only: olympic city, edition, athlete and country they represent
subframe_goldMedal_Men_100mEvent = sorted_GoldMedal_Men_100mEvent[['City', 'Edition', 'Athlete', 'NOC']]

In [55]:
subframe_goldMedal_Men_100mEvent

                        City  Edition                Athlete  NOC
27552                Beijing     2008            BOLT, Usain  JAM
25539                 Athens     2004         GATLIN, Justin  USA
23521                 Sydney     2000        GREENE, Maurice  USA
21598                Atlanta     1996        BAILEY, Donovan  CAN
19859              Barcelona     1992      CHRISTIE, Linford  GBR
18284                  Seoul     1988            LEWIS, Carl  USA
16794            Los Angeles     1984            LEWIS, Carl  USA
15374                 Moscow     1980           WELLS, Allan  GBR
14069               Montreal     1976       CRAWFORD, Hasely  TRI
12902                 Munich     1972         BORZOV, Valery  URS
11865                 Mexico     1968       HINES, James Ray  USA
10823                  Tokyo     1964          HAYES, Robert  USA
9924                    Rome     1960            HARY, Armin  EUA
9009   Melbourne / Stockholm     1956  MORROW, Robert Joseph  USA
8121                Helsinki     1952        REMIGINO, Lindy  USA
7302                  London     1948      DILLARD, Harrison  USA
6427                  Berlin     1936           OWENS, Jesse  USA
5806             Los Angeles     1932           TOLAN, Eddie  USA
5095               Amsterdam     1928        WILLIAMS, Percy  CAN
4236                   Paris     1924       ABRAHAMS, Harold  GBR
2996                 Antwerp     1920       PADDOCK, Charles  USA
2022               Stockholm     1912           CRAIG, Ralph  USA
1191                  London     1908       WALKER, Reginald  RSA
737                 St Louis     1904           HAHN, Archie  USA
231                    Paris     1900        JARVIS, Francis  USA
13                    Athens     1896          BURKE, Thomas  USA